<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="browser" value="firefox"/>
    <add key="implicit_wait" value="20"/>
    <add key="explicit_wait" value="80"/>
    <add key="downloads_dir" value="c:\Users\Public\test_downloads"/>
    <add key="url" value="https://toyota.dev.flex.cafe/"/>
    <add key="username" value="tfs.automation.admin"/>
    <add key="password" value="Password1!"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
