<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome" />
    <add key="implicit_wait" value="30" />
    <add key="explicit_wait" value="20" />
    <add key="url" value="https://toyota.dev.flex.cafe/"/>
    <add key="username" value="tfs.automation.admin" />
    <add key="password" value="Password1!" />
  </appSettings>
</configuration>